* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --cor-Fonte-primaria: #00ffff;
  
}

.container-header {
  border-bottom: 2px solid var(--cor-Fonte-primaria);
  color: var(--cor-Fonte-primaria);
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
  background: radial-gradient(circle at 30% 30%, #800707, #000000, #410707);
  background-size: 400% 400%;
  animation: nuvemPassando 20s ease-in-out infinite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 

}

@keyframes nuvemPassando {
  0% {
    background-position: 0% 50%;
    background-color: #800707;
  }
  25% {
    background-position: 50% 60%;
    background-color: #6d0505;
  }
  50% {
    background-position: 100% 50%;
    background-color: #410707;
  }
  75% {
    background-position: 50% 40%;
    background-color: #6d0707;
  }
  100% {
    background-position: 0% 50%;
    background-color: #800707;
  }
}

.container-left {
  display: flex;
  align-items: center;
  gap: 10px;
 
}


.container-left img {
  width: 80px;
  cursor: pointer;
  transition: all 0.2s;
}

.container-left img:hover {
  transform: scale(1.1);
}

.container-right ul {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 18px;
  margin-right: 80px;
}


.container-right a {
  color: #00ffff;
  text-decoration: none;
  transition: 0.3s;
}

.container-right a:hover {
  color: #ff0000;
  text-shadow: 0 0 8px #ff0000;
}

@media (max-width: 992px) {
  .container-header {
    padding: 10px 20px;
  }

  .container-right ul {
    gap: 15px;
    margin-right: 20px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .container-header {
    flex-direction: column;
    text-align: center;
  }

  .container-left img {
    width: 60px;
  }

  .container-right ul {
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }
}