* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container-header {
  background: radial-gradient(circle at top left, #0a0a0a, #3b0000);
  border-bottom: 2px solid #ff0000;
  color: #00ffff;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
  

}

.container-left {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 02s;
  
}

.container-left :hover{
  text-shadow: 0 0 8px #000000;
}


.container-left img {
  width: 80px;
  cursor: pointer;
  transition: all 0.2s;
}
.container-left img:hover{
    transform: scale(1.1);
}

.container-right ul {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 18px;
}

.container-right a {
  color: #00ffff;
  text-decoration: none;
  transition: 0.3s;
}

.container-right a:hover {
  color: #ff0000;
  text-shadow: 0 0 8px #ff0000;
}

