.container-sobre-mim{
    height: 100vh;
    display: grid;
    grid-template-columns: 70% 1fr;
    background: linear-gradient(#000000, #0a0a0a);
    color: #FFF;
    margin: 100px 0 0 0;
}

.container-sobre-mim-left h1 {
  font-size: 2.5rem;
  color: var(--cor-primaria);
  text-shadow: 0 0 10px var(--cor-primaria);
}

.container-sobre-mim-left p {
  color: #bbb;
  font-size: 1.2rem;
  line-height: 1.7;
  max-width: 600px;
  margin-bottom: 25px;
}
.container-sobre-mim-left div{
    margin: 50px 0 0 100px;
    font-weight: 700;
    font-size: 1.2rem;
}


.style-img{
    width: 250px;
    margin: 30px;
    margin: 50px 0 0 0;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    
}

@keyframes float {
    0%{
        transform: translateY(0px);
    } 50%{
        transform: translateY(-20px);
    } 100%{
        transform: translateY(0px);
    }
}

@media (max-width: 992px) {
  .container-sobre-mim {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .container-sobre-mim-left div {
    margin: 40px auto;
  }

  .container-sobre-mim-left div p {
    width: 90%;
    font-size: 18px;
  }

  .style-img {
    width: 200px;
    margin: 40px auto;
  }
}

@media (max-width: 600px) {
  .container-section {
    padding-top: 150px;
  }

  .container-section-left div {
    margin:  0 auto;
  }

  .container-section-left div p {
    font-size: 16px;
  }

  .style-img {
    width: 150px;
  }
  
}

.container-projetos{
    height: 100vh;

    background-color: rgb(48, 5, 5);
}