.container-section{
    height: 100vh;
    display: grid;
    grid-template-columns: 70% 1fr;
    background-color: black;
    color: #FFF;
    margin-top: 100px;
}

.container-section-left{
    height: 500px;
}

.container-section-left div{
    margin: 50px 0 0 100px;
}
.container-section-left div p{
  width: 80%;
  font-size: 20px;
}

.style-img{
    width: 250px;
    margin: 30px;
    margin: 50px 0 0 0;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    
}

@keyframes float {
    0%{
        transform: translateY(0px);
    } 50%{
        transform: translateY(-20px);
    } 100%{
        transform: translateY(0px);
    }
}

@media (max-width: 992px) {
  .container-section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .container-section-left div {
    margin: 40px auto;
  }

  .container-section-left div p {
    width: 90%;
    font-size: 18px;
  }

  .style-img {
    width: 200px;
    margin: 40px auto;
  }
}

@media (max-width: 600px) {
  .container-section {
    padding-top: 150px;
  }

  .container-section-left div {
    margin:  0 auto;
  }

  .container-section-left div p {
    font-size: 16px;
  }

  .style-img {
    width: 150px;
  }
  
}