* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #050505;
    color: #ffffff;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.destaque-amarelo {
    color: #f5c542;
}

.texto-cinza {
    color: #888;
    font-size: 0.9rem;
    line-height: 1.6;
}

header {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 900;
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #ccc;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover,
nav a.ativo {
    color: #ff4d4d;
}

/* -- Seção inicial -- */
.secao-tonystark {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background: radial-gradient(circle at 70% 50%, #1a0505 0%, #000000 70%);
}

.conteudo-tonystark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
}

.texto-tonystark {
    flex: 1;
    z-index: 2;
}

.saudacao {
    color: #f5c542;
    font-size: 2rem;
    letter-spacing: 2px;
    display: block;
}

h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

.subtitulo {
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 30px;
}

.botoes-acao {
    display: flex;
    gap: 20px;
}

.botao {
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    transition: transform 0.3s;
    text-transform: uppercase;
}

.btn-primario {
    background-color: #ff3b3b;
    color: white;
    box-shadow: 0 4px 15px rgba(255, 59, 59, 0.4);
}

.btn-secundario {
    border: 2px solid #333;
    color: white;
}

.botao:hover {
    transform: scale(1.05);
}

.imagem-tonystark {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.imagem-tonystark img {
    width: 600px;
    height: auto;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}


/* --- SEÇÃO SOBRE MIM --- */
.secao-sobre {
    padding: 100px 0;
    background-color: #000;
}

.conteudo-sobre {
    display: flex;
    gap: 50px;
    align-items: center;
}

.img-perfil {
    flex: 0 0 40%;
}

.img-perfil img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: grayscale(20%);
    -webkit-mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 80%, transparent 100%);
}

.info-sobre {
    width: 55%;

    p {
        font-size: 1.3rem;
    }
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    position: relative;
}

.texto-fundo {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 4rem;
    font-weight: 900;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.03);
    z-index: 0;
    text-transform: uppercase;
}

.lista-dados {
    list-style: none;
    margin: 30px 0;
}

.lista-dados li {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 70px;
    color: #ccc;

}

.rotulo {
    font-weight: 700;
    color: #FFF;
    width: 120px;
    display: inline-block;
}

.contador-projetos {
    font-size: 1.2rem;
    margin-bottom: 25px;

}

.destaque-laranja {
    color: #ff9100;
    font-weight: bold;
}

.btn-azul {
    background: linear-gradient(90deg, #00c6ff 100%);
    color: white;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 198, 255, 0.4);
}

/* Seção Trajes */
.secao-trajes {
    display: flex;
    flex-direction: column;
}

.info-trajes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.traje-item {
    text-align: center;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s;
}

.traje-item:hover {
    transform: scale(1.03);
}

.traje-item h3 {
    margin-top: 0;
    color: #00FFFF;
}

.img-traje {
    overflow: hidden;
    margin-bottom: 10px;
}

.img-traje img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.conteudo-trajes {
    text-align: center;
    margin-bottom: 40px;
}

.secao-trajes {
    padding: 50px 0;
    background-image: linear-gradient(to right,
            #000000 0%,
            #1a1a1a 50%,
            #000000 100%)
}

/* --- SEÇÃO HABILIDADES --- */

.secao-habilidades {
    padding: 80px 0 0 10px;
    height: 70vh;
    background-color: #000;
    background-image: linear-gradient(#111 1px, transparent 1px), linear-gradient(90deg, #111 1px, transparent 1px);
    background-size: 50px 50px;
}

.conteudo-habilidades {
    text-align: center;
    margin-bottom: 60px;
    margin: 0 auto;
}

.grid-habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 60px;
}

.item-habilidade {
    margin-bottom: 15px;
}

.info-barra {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 600;
}

.fundo-barra {
    height: 8px;
    background-color: #222;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.progresso {
    height: 100%;
    border-radius: 4px;
    position: relative;
}

.cor-vermelha {
    background-color: #ff3b3b;
    box-shadow: 0 0 10px rgba(255, 59, 59, 0.5);
}

.cor-azul {
    background-color: #00d2ff;
    box-shadow: 0 0 10px rgba(0, 210, 255, 0.5);
}

/* --- SEÇÃO CAROSSEL  --- */
.secao-carousel{
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background: radial-gradient(circle at 70% 50%, #1a0505 0%, #000000 70%);
}
.conteudo-carouse{
  text-align: center;
  margin-bottom: 30px;
}

.conteudo-carouse h2{
  font-size: 3rem;
  color: #ffb300;
  margin-bottom: 12px;
}

.conteudo-carouse p{
  font-size: 1.5rem;
  color: #9aa5b1;
}

.carousel{
    position: relative;
    width: 400px;
    overflow: hidden;
    border-radius: 12px;
    margin: 0 auto;    
}

.carousel input[type="radio"]{
    display: none;
}

.slides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.6s ease;
}

.item{
    min-width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#071023 0% , #0b0f17 100%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #0b0f17;
    user-select: none;
}
#slide1:checked ~ .slides{
  transform: translateX(0);
}

#slide2:checked ~ .slides{
  transform: translateX(-100%);
}

#slide3:checked ~ .slides{
  transform: translateX(-200%);
}

#slide4:checked ~ .slides{
  transform: translateX(-300%);
}
#slide5:checked ~ .slides{
  transform: translateX(-400%);
}
.dots{
  position:absolute;
  bottom: 30px;
  width:100%;
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top: 10px;
}



.dots label{
  width:14px;
  height:14px;
  border-radius:50%;
  background: #333; 
  border: 2px solid #555; 
  cursor:pointer;
  transition: all .3s ease;
}

#slide1:checked ~ .dots label[for="slide1"],
#slide2:checked ~ .dots label[for="slide2"],
#slide3:checked ~ .dots label[for="slide3"],
#slide4:checked ~ .dots label[for="slide4"],
#slide5:checked ~ .dots label[for="slide5"]{
  background: #ffb300;
  transform: scale(1.4);
  border-color: #ffb300;
}

#slide1:checked ~ .dots label[for="slide1"],
#slide2:checked ~ .dots label[for="slide2"],
#slide3:checked ~ .dots label[for="slide3"],
#slide4:checked ~ .dots label[for="slide4"],
#slide5:checked ~ .dots label[for="slide5"]{
  background: #ffb300;
  transform: scale(1.3);
}
.card{
  width:100%;
  height:100%;
  background: #0f1720;
  border-radius: 12px;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  box-shadow:0 0 20px #0005;
    position:relative;
  transition: transform .35s ease, box-shadow .35s ease;
    border: 1px solid #ffffff10;
}

.card img{
  width:100%;
  height:65%;
  object-fit:cover;
}

.card .info{
  padding:50px;
  display:flex;
  flex-direction:column;
  gap:6px;
  background: linear-gradient(180deg, #0f172080, #0f1720f0);
  backdrop-filter: blur(4px);
}

.card .info h2{
  font-size:1.1rem;
  color:#fff;
}

.card .info p{
  font-size:.9rem;
  color: #9aa5b1;
  line-height:1.3;
}
.card::before{
  position:absolute;
  inset:0;
  background: radial-gradient(circle at top, #ffb30022, transparent 70%);
  pointer-events:none;
}

/* --- SEÇÃO CONTATO  --- */
.secao-contato{
    height: 75vh;
    padding: 60px 20px;
    background: radial-gradient(circle at top left, #0b0f17 0%, #1a0505 100%);
    color: #fff;
}

.container-contato{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.mensagem-contato{
    flex: 1 1 400px;
}

.mensagem-contato h2{
    font-size: 3rem;
    color: #ffb300;
    margin-bottom: 12px;
}

.mensagem-contato p{
    font-size: 1.5rem;
    color: #9aa5b1;
    line-height: 1.5;
}

.imagem-contato{
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
}

.imagem-contato img{
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 25px #0007;
}
.form-contato{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.form-contato input{
    flex: 1 1 250px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #1a1a1a;
    color: #fff;
}

.form-contato input::placeholder{
    color: #888;
}

.form-contato button{
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: #ffb300;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s ease, transform .2s ease;
}

.form-contato button:hover{
    background-color: #ffaa00;
    transform: translateY(-2px);
}

  footer {
            text-align: center;
            padding: 100px;
            background-color: #000;
            color: #555;
            font-size: 0.8rem;
        }

@media (max-width: 880px){
  .carousel{
    width: 280px;
    height: 380px;
  }

  .card .info h2{
    font-size: 1rem;
  }

  .card .info p{
    font-size: .85rem;
  }
}
