* {
  margin: 0;
  padding: 0;
  font-family: "Michroma", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.9);
}

header {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 0px 8px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: -99;
  background-color: #ffffff25;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.219);
  font-size: 16px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    cursor: pointer;
  }

  li{
    transition: all 0.3s;
  }
  li:hover{
    transform: translateY(-1px);
  }
  .ironManLogo {
    margin-right: 80px;
    width: 80px;
  }

  div {
    display: grid;
    gap: 24px;
  }
}