* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #050505;
    color: #ffffff;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.destaque-amarelo {
    color: #f5c542;
}

.texto-cinza {
    color: #888;
    font-size: 0.9rem;
    line-height: 1.6;
}

header {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 900;
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #ccc;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover,
nav a.ativo {
    color: #ff4d4d;
}

/* -- Seção inicial -- */
.secao-tonystark {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background: radial-gradient(circle at 70% 50%, #1a0505 0%, #000000 70%);
}

.conteudo-tonystark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
}

.texto-tonystark {
    flex: 1;
    z-index: 2;
}

.saudacao {
    color: #f5c542;
    font-size: 2rem;
    letter-spacing: 2px;
    display: block;
}

h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

.subtitulo {
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 30px;
}

.botoes-acao {
    display: flex;
    gap: 20px;
}

.botao {
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    transition: transform 0.3s;
    text-transform: uppercase;
}

.btn-primario {
    background-color: #ff3b3b;
    color: white;
    box-shadow: 0 4px 15px rgba(255, 59, 59, 0.4);
}

.btn-secundario {
    border: 2px solid #333;
    color: white;
}

.botao:hover {
    transform: scale(1.05);
}

.imagem-tonystark {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.imagem-tonystark img {
    width: 600px;
    height: auto;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}


/* --- SEÇÃO SOBRE MIM --- */
.secao-sobre {
    padding: 100px 0;
    background-color: #000;
}

.conteudo-sobre {
    display: flex;
    gap: 50px;
    align-items: center;
}

.img-perfil {
    flex: 0 0 40%;
}

.img-perfil img {
    width: 100%;
    border-radius: 10px;
    filter: grayscale(20%);
}

.info-sobre {
    flex: 1;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    position: relative;
}

.texto-fundo {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 4rem;
    font-weight: 900;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.03);
    z-index: 0;
    text-transform: uppercase;
}

.lista-dados {
    list-style: none;
    margin: 30px 0;
}

.lista-dados li {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    color: #ccc;
}

.rotulo {
    font-weight: 700;
    color: #FFF;
    width: 120px;
    display: inline-block;
}

.contador-projetos {
    font-size: 1.2rem;
    margin-bottom: 25px;

}

.destaque-laranja {
    color: #ff9100;
    font-weight: bold;
}

.btn-azul {
    background: linear-gradient(90deg, #00c6ff 100%);
    color: white;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 198, 255, 0.4);
}